<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<h1>Login</h1>

<form method="post" action="/login" class="login-form">

    <p>
        <label>Username:</label>
        <input type="text" name="username" required>
    </p>

    <p>
        <label>Password:</label>
        <input type="password" name="password" required>
    </p>

    <button type="submit">Login</button>

    <p th:if="${error}" style="color:red;">
        Wrong username or password
    </p>

</form>

</body>
</html>
